body{
    background-color: #cbd5e1;
    margin: 0px;
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

nav {
    place-self: center;
}

nav > button {
    appearance: none;
    width: 100px;
    height: 30px;
    background-color:#64748b;
    color: #cbd5e1;
    border-radius: 10px;
}

nav > button:active{
    background-color:#1e293b;
}

nav > button:hover{
    background-color: #4f6380;
}